{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <h2>Lista de Posts</h2>
    <ul class="list-group">
      {% for post in posts %}
        <li class="list-group-item">
          <a href="{{ post.id }}/detalhes"><strong>{{ post.autor.codinome }}</strong></a><br>
          {{ post.mensagem|linebreaksbr }}
          <div class="mt-2">
            <a href="{% url 'editar_post' post.id %}" class="btn btn-sm btn-outline-primary">Editar</a>
            <a href="{% url 'deletar_post' post.id %}" class="btn btn-sm btn-outline-danger">Excluir</a>
          </div>
        </li>
      {% empty %}
        <li class="list-group-item">Nenhum post encontrado.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

<!-- Luiz Enrique -->